:root {
    --main-color: rgba(223, 224, 224, 1);
    --main-color-transparency: rgba(223, 224, 224, .5);
    --light-text-transparency: rgba(112, 114, 117, .8);
    --light-text: rgba(112, 114, 117, 1);
    --dark-text: rgba(0, 0, 0, 1);
    --light: rgba(255, 255, 255, 1);
}

.modalWindow {
    position: fixed;
    top: 25%;
    right: 25%;
    bottom: 25%;

    display: none;
    /* background: dimgrey;*/
}

.modalContent {
    min-width: 250px;
    padding: 25px;
    background-color: var(--light-text-transparency);
    min-width: auto;
    min-height: auto;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    }

.modalWindow.active {
    display: flex;
    justify-content: center;
    align-items: center;
}